# Python
__pycache__/
*.py[cod]
*$py.class

# PyInstaller
*.manifest
*.spec
build/
dist/

# Virtual Environment
venv/
env/
.env

# IDE
.vscode/
.idea/

# iRacing specific
*.sto
*.car
*.ini
setup_copier.log
